{% load static %}
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Test Index</title>
    
    <link rel="stylesheet" href="{% static 'css/indexStyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    
    
  </head>
  <body>
      <!--Navbar -->
      <nav class="navbar navbar-inverse">
          <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">TESTE</a>
              </div>
              <ul class="nav navbar-nav">

              </ul>

              <li class="dropdown">
                {% if usuario%}
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Bienvenido {{user.username}}
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="{%url 'deslogueadito'%}">logout</a></li>
                    </ul>
                
                {% else %}
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Bienvenides
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{%url 'logueadito'%}">login</a></li>
                        <li><a href="{%url 'registrito'%}">registrarse</a></li>
                    </ul>
                {%endif%}


              </li>

            </div>
      </nav>

      <!--Navbar -->
    <img src="{% static 'imgs/intro_bg.jpg' %}" ></img>
    <p>MY INDEX</p>
    

    
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src = "{% static 'js/bootstrap.min.js' %}"></script>
  </body>
  
</html>