{% load static %}
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Test Register</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <form method="POST">
        {% csrf_token %}
      <p>Nombre: {{formulario.nombre}}</p>
      <p>Usuario: {{formulario.usuario}}</p>
      <p>Correo: {{formulario.correo}}</p>
      <p>Password: {{formulario.password}}</p>
      <p>Año de nacimiento: {{formulario.nacimiento}}</p>
      <p>Sexo: {{formulario.sexo}}</p>
      <p>
        <input type="submit" value="Enviar">
        <input type="reset" value="Borrar">
        <li><a href="{%url 'logueadito'%}">Ya estoy registrado</a></li>
      </p>
    </form>
  </body>
</html>